extends layout
block content



  .flex-container-header
    .flex-item-head 
      img(class='brand' alt='Brand', src='images/dubo.jpg')
    p.title DUBO

  .flex-container-content
    ul 
      li
        form(action='/create' method='post')
          input(type='text', name='task', placeholder='GET STUFF DONE' )
          button.btn.btn-primary(type='submit') Submit
      
      each thing in allTasks
        li
          form(action=`/allTasks/${thing.id}/deleteTask` method='post')
            button.btn.btn-danger(type='submit') DELETE
            
          
          form(action=`/allTasks/${thing.id}/edit` method='post')
            input(type='text' name='task' placeholder='EDIT')
            button.btn.btn-secondary(type='submit') EDIT 
            
          .form-group
            label.col-md-1.control-label(for='completed') select
            .col-md-5
              .checkbox
                form(action=`/allTasks/${thing.id}/completed` method='post')
                  input.checked(type='checkbox', name='completed')
                  label.strikethrough #{thing.title}
                  
                  input(type='submit')
                    
          form(action =`/prioritizeUp/${thing.id}` method='post')
            button.btn.btn-secondary(type='submit') Up 

          form(action =`/prioritizeDown/${thing.id}` method='post')
            button.btn.btn-secondary(type='submit') Down                 
